.question{
    font-size: $question-font;
}

.answers{
    font-size: $answer-font;
}

#instructions{
    text-align: center;
    line-height: 1.5;
    font-size: 2rem;
    letter-spacing: -1px;
    margin-top: 40px;
}

#resultsArea{
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;
}

#theAnswers{
    text-align: center;
    list-style-type: none;
    margin-top: 1rem;
}
.answerListItem{
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.6rem;
}