.question{
    font-size: $question-font;
}

.answers{
    font-size: $answer-font;
}

#instructions{
    text-align: center;
    line-height: 1.5;
    font-size: 2rem;
    letter-spacing: -1px;
    margin-top: 40px;
}