.btn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00a897), color-stop(1, #02c399));
	background:-moz-linear-gradient(top, #00a897 5%, #02c399 100%);
	background:-webkit-linear-gradient(top, #00a897 5%, #02c399 100%);
	background:-o-linear-gradient(top, #00a897 5%, #02c399 100%);
	background:-ms-linear-gradient(top, #00a897 5%, #02c399 100%);
	background:linear-gradient(to bottom, #00a897 5%, #02c399 100%);
    background-color:#00a897;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #00a897;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:12px 30px;
    text-decoration:none;
    outline: none;
    transition: ease all .5s;
        &:hover {
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #02c399), color-stop(1, #00a897));
            background:-moz-linear-gradient(top, #02c399 5%, #00a897 100%);
            background:-webkit-linear-gradient(top, #02c399 5%, #00a897 100%);
            background:-o-linear-gradient(top, #02c399 5%, #00a897 100%);
            background:-ms-linear-gradient(top, #02c399 5%, #00a897 100%);
            background:linear-gradient(to bottom, #02c399 5%, #00a897 100%);
            background-color:#02c399;
            transform: scale(1.08);
        }
        &:active {
            outline: none;
            position:relative;
            top:1px;
            transform: scale(1.02);
        }
}
