@import "https://use.fontawesome.com/releases/v5.0.12/css/all.css";
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Karla', sans-serif; }

body {
  height: 100vh;
  background-color: #f0f3bd; }

.question {
  font-size: 2.4rem; }

.answers {
  font-size: 1.6rem; }

#instructions {
  text-align: center;
  line-height: 1.5;
  font-size: 2rem;
  letter-spacing: -1px;
  margin-top: 40px; }

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s; }

.question {
  font-size: 2.4rem;
  margin-top: 1.6rem;
  text-align: center;
  color: white; }

.answers {
  display: flex;
  flex-direction: column;
  align-items: center; }

label {
  padding-bottom: 7px;
  padding-top: 7px; }

.active-slide {
  opacity: 1;
  z-index: 2; }

.quiz-container {
  position: relative;
  height: 23.5rem;
  width: 60rem;
  margin: 0 auto;
  background-color: #02c39a;
  border-radius: 3.8rem;
  border: 0.3rem solid #00a896;
  margin-top: 3.5rem; }

.contentArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4.8rem; }

#timeArea {
  text-align: center;
  font-size: 36px; }

label {
  cursor: pointer;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #05668d;
  border-radius: 1em;
  animation: radioScale ease-in 1s;
  transition: ease all .35s; }
  label:hover {
    background-color: #028090;
    transform: scale(1.05); }
  label:active {
    transform: scale(1.02); }
  label input[type="radio"] {
    display: none;
    animation: radioScale ease-in 1s; }
    label input[type="radio"] + .label-text:before {
      content: "\f111";
      font-family: "FontAwesome" !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      width: 1.5rem;
      padding-right: 1rem;
      color: #02c39a;
      animation: radioScale ease-in 1s; }
    label input[type="radio"]:checked + .label-text:before {
      content: "\f058";
      color: #f0f3bd;
      animation: radioScale ease-in 1s; }

@keyframes radioScale {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00a897), color-stop(1, #02c399));
  background: -moz-linear-gradient(top, #00a897 5%, #02c399 100%);
  background: -webkit-linear-gradient(top, #00a897 5%, #02c399 100%);
  background: -o-linear-gradient(top, #00a897 5%, #02c399 100%);
  background: -ms-linear-gradient(top, #00a897 5%, #02c399 100%);
  background: linear-gradient(to bottom, #00a897 5%, #02c399 100%);
  background-color: #00a897;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #00a897;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 12px 30px;
  text-decoration: none;
  outline: none;
  transition: ease all .5s; }
  .btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #02c399), color-stop(1, #00a897));
    background: -moz-linear-gradient(top, #02c399 5%, #00a897 100%);
    background: -webkit-linear-gradient(top, #02c399 5%, #00a897 100%);
    background: -o-linear-gradient(top, #02c399 5%, #00a897 100%);
    background: -ms-linear-gradient(top, #02c399 5%, #00a897 100%);
    background: linear-gradient(to bottom, #02c399 5%, #00a897 100%);
    background-color: #02c399;
    transform: scale(1.08); }
  .btn:active {
    outline: none;
    position: relative;
    top: 1px;
    transform: scale(1.02); }
