@import "https://use.fontawesome.com/releases/v5.0.12/css/all.css";
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Karla', sans-serif; }

body {
  height: 100vh;
  background-color: #f0f3bd; }

.question {
  font-size: 2.4rem; }

.answers {
  font-size: 1.6rem; }

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s; }

.question {
  font-size: 2.4rem;
  margin-top: 1.6rem;
  text-align: center;
  color: white; }

.answers {
  display: flex;
  flex-direction: column;
  align-items: center; }

label {
  padding-bottom: 7px;
  padding-top: 7px; }

.active-slide {
  opacity: 1;
  z-index: 2; }

.quiz-container {
  position: relative;
  height: 23.5rem;
  width: 60rem;
  margin: 0 auto;
  background-color: #02c39a;
  border-radius: 3.8rem;
  border: 0.3rem solid #00a896;
  margin-top: 3.5rem; }

label {
  cursor: pointer;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #05668d;
  border-radius: 1em;
  animation: radioScale ease-in 1s;
  transition: ease all .35s; }
  label:hover {
    background-color: #028090;
    transform: scale(1.05); }
  label:active {
    transform: scale(1.02); }
  label input[type="radio"] {
    display: none;
    animation: radioScale ease-in 1s; }
    label input[type="radio"] + .label-text:before {
      content: "\f111";
      font-family: "FontAwesome" !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      width: 1.5rem;
      padding-right: 1rem;
      color: #02c39a;
      animation: radioScale ease-in 1s; }
    label input[type="radio"]:checked + .label-text:before {
      content: "\f058";
      color: #f0f3bd;
      animation: radioScale ease-in 1s; }

@keyframes radioScale {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
